body {
  background: rgba(243, 247, 250, 1);
}
.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;

  &__header {
    margin-bottom: 40px;
  }

  &__main {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  &__data {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
